.content {
    position: absolute;
    overflow: hidden;

    &__main {
        float: right;
        width: $width-main-col;
        height: 100%;
        padding: 3rem 4rem;

        @media screen {
            &::after {
                content: '2020 © by Inês Almeida   |   ines-almeida.com';
                height: 4rem;
                width: 100%;
                position: absolute;
                bottom: 0.5rem;
                color: darken($color-white, 10%);
            }
        }
    }

    &__secondary {
        position: absolute;
        float: left;
        width: $width-secondary-col;
        background-color: $color-right-col;
        height: 100%;
        padding: 2rem 3rem;
        left: 1rem;

        @include shadow(0.5);
    }
}
