.education {
    display: flex;
    flex-direction: column;
    &__item {
        margin-top: 1em;
        @include avoid-break;
    }
    &__logo {
        height: 6rem;
        width: 6rem;
        // display: inline-block;
        float: left;
        margin: 0 1rem 0 0;
    }
}