.interests {
    display: block;
    -moz-column-count: 4;
    column-count: 4;
    width: 100%;
    text-align: right;
    @include avoid-break;

    list-style-type:none;
    text-align: center;

    &__corolary {
        text-align: center;
    }
}