.skills {

    &__header {
        text-transform: uppercase;
        // font-weight: 200;
        font-size: 1.3rem;
        // padding-top: 1rem;

        &__progressbar__container {
            width: 100%;
            background-color: #f3f3f3;
            margin-bottom: .5em;
            border: 1px solid $color-primary;
        }
    
        &__progressbar {
            height: 1em;
            background-color: $color-primary;
            text-align: center;
            color: white;
            line-height: 20px;
    
            &__XL {
                width: 95%
            }
            &__L {
                width: 80%
            }
            &__M {
                width: 60%;
            }
            &__S {
                width: 40%;
            }
        }    

    }

    &__core {
        // font-size: 1.1rem;
        margin-bottom: .5em;

        padding-left: 1.5em;

        & li {
            list-style: outside square;
            padding-left: 0em;
        }
    }

    &__other {

        padding-bottom: 1rem;

        & li {
            display: inline-block;
            &:after {
                content: ", ";
            }

            &:last-child:after {
                content: "";
            }
        }


        &__XL {
            font-size: 1.3em;
        }
        &__L {
            font-size: 1.2em;
        }
        &__M {
            font-size: 1.0em;
        }
        &__S {
            font-size: 0.8em;
        }
        &__XS {
            font-size: 0.6em;
        }
    }
}