.timeline {
	position: relative;
	padding: 10px 10px 10px 50px;

	&:before {
		content: '';
		width: 4px;
		background-color: $color-primary;
		position: absolute;
		top: 1em;
		bottom: 0;
		left: 15px;
	}
	&__item::before {
		@extend %fa-icon;
		@extend .fas;		
		color: $color-white;
		padding: 0.3em;
        width: 2em;
        height: 2em;
        background: $color-primary;
        border: 2px solid $color-primary;
        border-radius:50%;
        position: absolute;
        left: 0.5em;
        z-index: 2;
	}
	&__item__employment::before {
		content: fa-content($fa-var-briefcase);
	}
}
  

