{{ if .Timeline }}
<div id="experience" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "experience" }}</h2>
    </div>
    <div class="section__content">
        <div class="experience">
        {{ range .Site.Data.content.Timeline }}

            {{ if eq .Type "Employment" }}
            <div class="experience__item">
                <div class="experience__header">
                    <h3 class="experience__company">
                        {{ .Employer | safeHTML }}
                    </h3>
                    <h3 class="experience__place experience__place__{{ .Country | lower}}">{{ .Place | safeHTML }}</h3>
                </div>
                {{ range .Positions }}
                <div class="experience__job">
                    <div class="experience__subheader">
                        <h3 class="experience__position">
                            {{ .Title | safeHTML}}
                        </h3>
                        <h3 class="experience__date">{{ .Date | safeHTML }}</h3>
                    </div>
                    {{if .Tagline}}
                        <span class="experience__bullet" style="font-style: italic;">"{{ .Tagline | markdownify}}"</span>
                    {{end}}
                    <ul>
                    {{ range .Details }}
                        {{ if eq . nil}}
                        <br/>
                        {{ else }}
                        <li class="experience__bullet">{{ . | markdownify }}</li>
                        {{end}}
                    {{ end }}
                    </ul>
                    {{ if .Accomplishments }}
                    <div class="experience__subheader" style="font-style: italic;">
                        <h4 class="experience__position" style="text-transform:capitalize">Accomplishments</hh>
                    </div>
                    <ul style="font-style: italic;">
                    {{ range .Accomplishments }}
                        <li class="experience__bullet">{{ . | markdownify }}</li>
                    {{ end }}
                    </ul>
                    {{ end }}
                    <div class="experience__badges">
                        <ul>
                        {{ range .Badges }}
                            <li class="experience__badge">{{ . }}</li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}

        {{ end }}
        </div>
    </div>
</div>
{{ end }}
