{{ if .Skills }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">{{ i18n "skills" }}</h2>
    </div>
    <div class="sideSection__content">
        <p>Having worked on a broad diversity of products, company types, cultures and technical stacks has helped me not only to get exposure to an equally broad set of skills but to become a quick learner and adaptable profile and establish these on sound engineering values and principles.</p>
        {{ range .Skills}}
        <h3 class="skills__header"> {{ .Type }} </h3>

            <p class="intro">{{ .Intro }}</p>

            <ul class="skills skills__core">
            {{ range .Core }}
                <li class="skills__core__{{ .Weight }}"> {{ .Value | safeHTML }}</li>
                <div class="skills__core__progressbar__container">
                    <div class="skills__core__progressbar skills__core__progressbar__{{ .Weight | default "M" }}"></div>
                </div>
            {{ end }}
            </ul>

            <ul class="skills__other">
            {{ range .Other }}
                <li class="skills__other__{{ .Weight }}"> {{ .Value | safeHTML }}</li>
            {{ end }}
            </ul>
            <div class="force-break"></div>
        {{ end }}
    </div>
</div>
{{ end }}
