{{ $data := or (index .Site.Data .Site.Language.Lang).content .Site.Data.content }}
{{ .Scratch.Set "data" $data }}
<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
<body>
    <div class="content">
        {{ if .Site.Params.swapColumns }}
        <div class="content__left content__swapped__left">
        {{ else }}
        <div class="content__left">
        {{ end }}

            <h1 class="mainHeading">{{ $data.BasicInfo.FirstName }} <span>{{ $data.BasicInfo.LastName }}</span></h1>

            {{ partial "_avatar.html" $data }}
            {{ partial "_contacts.html" $data }}
            {{ partial "_skills.html" $data }}
            {{ partial "_values.html" $data }}
            {{ partial "_languages.html" $data }}
            {{ partial "_diplomas.html" $data }}
            {{ partial "_recognitions.html" . }}
        </div>
        {{ if .Site.Params.swapColumns }}
        <div class="content__right content__swapped__right">
        {{ else }}
        <div class="content__right">
        {{ end }}

            <h1 class="mainHeading">{{ $data.BasicInfo.FirstName }} <span>{{ $data.BasicInfo.LastName }}</span></h1>
            {{with $data.BasicInfo.Motto}}
            <blockquote class="motto"><a href="{{ .Link }}">{{ .Tag }}</a></blockquote>
            {{end}}

            {{ partial "_profile.html" $data }}
            {{ partial "_timeline.html" $data }}
            {{ partial "_education.html" $data }}
            {{ partial "_opensource.html" $data }}
            {{ partial "_interests.html" $data }}

        </div>
    </div>
</body>
</html>
